<a href="https://colab.research.google.com/github/nurul354/nurul354/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input & Ouput pada Python

**Membuat input dengan fungsi input()**

format input() : input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :
*   input() : nilai berupa string
*   str(input()) : nilai berupa string
*   int(input()) : nilai berupa integer
*   float(input()) : nilai berupa float
*   bool(input()) : nilai berupa boolean

**Untuk menampilkan Output dengan fungsi print()**

format print() : print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

In [1]:
# Membuat input bertipe data string (str)
nama = input("Nama: ")
umur = input("Umur: ")
alamat = input("Alamat: ")

Nama: Nurul Chodijah
Umur: 20
Alamat: Bogor

In [2]:
print(nama)
print(umur)
type(nama)

Nurul Chodijah
20

str

In [3]:
# Membuat input bertipe data integer (int)
angka1 = int(input())
print(angka1)

2
2

In [4]:
# Membuat input beripe data float
angka2 = float(input())
print(angka2)

3
3.0

**Menampilkan Output Cara Pertama**

In [5]:
print("Nama saya"+" "+ nama + " " + "yang berumur"+ " " + umur + " " + "dan bertempat tinggal di"+ " " + alamat)

Nama saya Nurul Chodijah yang berumur 20 dan bertempat tinggal di Bogor

In [7]:
print(' Nurul Chodijah'+" " +'Universitas Ahmad Dahlan'+ " " +' Bogor')

 Nurul Chodijah Universitas Ahmad Dahlan  Bogor

**Menampilkan output cara kedua **

In [8]:
txt1 = "Nama saya {nama}, Saya berumur {umur}".format(nama = "Nurul", umur = 20)
txt1

'Nama saya Nurul, Saya berumur 20'

In [9]:
txt2 = "Nama saya {0}, Saya berumur {1}".format("Nurul",20)
txt2

'Nama saya Nurul, Saya berumur 20'

In [10]:
txt3 = "Nama saya {}, Saya berumur {}".format("Nurul",20)
txt3

'Nama saya Nurul, Saya berumur 20'

**Menampilkan output cara ketiga**

In [12]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

Nama saya Nurul Chodijah yang berumur 20 dan bertempat tinggal di Bogor

In [15]:
var7=' PSDS kelas dasar semangat'
print(var7)

 PSDS kelas dasar semangat

In [ ]:
var1 = 'Selamat Pagi!' #String
var2 = 237217273 # int
var3 = 2.383928 # float
var4 = True #bool
var5 = 2a-1 #complex

In [17]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Apkabar Semua
23542567
0.3873849
False
(1+1j)

In [20]:
type(var3)

float

In [21]:
print(var1,'Tipe data var1:', type(var1))
print(var2,'Tipe data var2:', type(var2))
print(var3,'Tipe data var3:', type(var3))
print(var4,'Tipe data var4:', type(var4))
print(var5,'Tipe data var5:', type(var5))

Apkabar Semua Tipe data var1: <class 'str'>
23542567 Tipe data var2: <class 'int'>
0.3873849 Tipe data var3: <class 'float'>
False Tipe data var4: <class 'bool'>
(1+1j) Tipe data var5: <class 'complex'>

In [22]:
umur = 20
print("data =", umur, "type =", type(umur))

data = 20 type = <class 'int'>

In [25]:
# Mengkonversi tipe data integer
kon_int = int(umur)
kon_str = str(umur)
kon_bool = bool(umur) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_int , ",type =", type(kon_int))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  20 ,type = <class 'int'>
data =  20 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [1]:
b=[3, 5, 'psds']
b

[3, 5, 'psds']

In [5]:
y=[1,2,3,4,5,6,7,8,9]
print(y[0])
print(y[-1])
print(y[4:-1])
print(y[:3])
print(y[-3:])
print(y[1:7:2])

1
9
[5, 6, 7, 8]
[1, 2, 3]
[7, 8, 9]
[2, 4, 6]

In [7]:
#Mengganti elemen
y=[3,5,4]
y[1]=1
print(y)

[3, 1, 4]

In [8]:
#Menambah elemen
y=[3,5,4]
y[1]=1
y.append(8) #append artinya menambah
print(y)

[3, 1, 4, 8]

In [9]:
tumbuhan=['kaktus','pinus','cemara','anggrek']
del tumbuhan[3]
print(tumbuhan)

['kaktus', 'pinus', 'cemara']

In [12]:
del tumbuhan [0]
print(tumbuhan)

['pinus', 'cemara']

In [15]:
a="Selamat pagi"
print(a[6]) #ambil karakter kelima dari string a
print(a[3:7]) #ambil karakter kedelapan hingga sepuluh dari string a
a="apakabar dunia" #ubah isi string a menjadi "apakabar dunia", seharusnya berhasil karna mutable
print(a)

t
amat
apakabar dunia

In [16]:
a[6]="i" #ubah karakter keenam dari string a menjadi "i", seharusnya gagal karena immutable

TypeError: ignored

In [17]:
a={1:'value','key':2}
print(type(2))

<class 'int'>

In [18]:
d={1:'value','key':2}
print(type(d))
print("d[1]=",d[1]);
print("d['key']=", d['key']);

<class 'dict'>
d[1]= value
d['key']= 2

In [19]:
d = {3:'value','key':4}
print(type(d))
print("d[3] = ", d[3]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[3] =  value
d['key'] =  4

In [20]:
#nyobain eror
print("d[4]=",d[4]);

KeyError: ignored